roles ['consul_role']

consul['configuration'] = {
  server: true,
  retry_join: %w({{ consul_hostnames | join(' ') }})
}

gitlab_rails['auto_migrate'] = false

node_exporter['listen_address'] = '{{ ansible_all_ipv4_addresses[0] }}:9100'
consul['monitoring_service_discovery'] = true
