external_url '{{ cluster_url }}'

# Admin node needs GitLab installed but doesn't run any meaningful
# services.
registry['enable'] = false
gitlab_workhorse['enable'] = false
unicorn['enable'] = false
puma['enable'] = false
postgresql['enable'] = false
redis['enable'] = false
nginx['enable'] = false
prometheus['enable'] = false
alertmanager['enable'] = false
gitlab_exporter['enable'] = false
grafana['enable'] = false
gitaly['enable'] = false
sidekiq['enable'] = false

gitlab_rails['auto_migrate'] = false

gitlab_rails['gitaly_token'] = '{{ praefect_internal_token }}'

gitlab_rails["db_host"] = "{{ postgres_primary_address }}"
gitlab_rails["db_post"] = {{ postgres_primary_port }}
gitlab_rails["db_username"] = "{{ postgres_primary_username }}"
gitlab_rails["db_password"] = "{{ postgres_primary_password }}"
gitlab_rails["db_database"] = "{{ postgres_primary_db_name }}"

gitlab_rails['redis_host'] = '{{ redis_host }}'
gitlab_rails['redis_port'] = {{ redis_port }}

git_data_dirs({
  'default' => {
    'gitaly_address' => 'tcp://{{ praefect_lb_address }}:2305',
    'gitaly_token' => '{{ praefect_external_token }}',
  },
})

# We need to enable praefect so we can perform database schema migrations.
praefect['enable'] = true
praefect['database_host'] = '{{ praefect_db_address }}'
praefect['database_port'] = {{ praefect_db_port }}
praefect['database_user'] = '{{ praefect_db_username }}'
praefect['database_password'] = '{{ praefect_db_password }}'
praefect['database_dbname'] = '{{ praefect_db_name }}'

praefect['virtual_storages'] = {
  'default' => {
    {% for ip in gitaly_main_ips %}
    'gitaly-{{ loop.index - 1 }}' => {
        'address' => 'tcp://{{ ip }}:8075',
        'token' => '{{ praefect_internal_token }}',
        {% if loop.index == 1 %}'primary' => true,{% endif %}
    },
    {% endfor %}
  }
}

node_exporter['listen_address'] = '{{ ansible_all_ipv4_addresses[0] }}:9100'

postgres_exporter['enable'] = true
postgres_exporter['listen_address'] = '{{ ansible_all_ipv4_addresses[0] }}:9187'
postgres_exporter['host'] = '{{ postgres_primary_address }}'
postgres_exporter['port'] = {{ postgres_primary_port }}
postgres_exporter['user'] = '{{ postgres_primary_username }}'
postgres_exporter['password'] = '{{ postgres_primary_password }}'
postgres_exporter['dbname'] = '{{ postgres_primary_db_name }}'

# TODO enable redis exporter.
# There appears to be a bug in gitlab-ctl reconfigure on first
# run where the redis exporter won't run because there is no redis
# redis user. And there is no redis user because we aren't running
# redis locally. This clears after first run, however.
#redis_exporter['enable'] = true
#redis_exporter['listen_address'] = '{{ ansible_all_ipv4_addresses[0] }}:9121'
#redis_exporter['flags'] = {
#  'redis.addr' => 'tcp://{{ redis_host }}:{{ redis_port }}',
#}

# Enable service discovery for Prometheus.
consul['enable'] = true
consul['monitoring_service_discovery'] = true
consul['configuration'] = {
  retry_join: %w({{ consul_hostnames | join(' ') }}),
}
