external_url '{{ cluster_url }}'

praefect['enable'] = true

# Everything else is disabled.
postgresql['enable'] = false
redis['enable'] = false
nginx['enable'] = false
prometheus['enable'] = false
grafana['enable'] = false
unicorn['enable'] = false
puma['enable'] = false
sidekiq['enable'] = false
gitlab_workhorse['enable'] = false
gitaly['enable'] = false

gitlab_rails['rake_cache_clear'] = false
gitlab_rails['auto_migrate'] = false

praefect['listen_addr'] = '{{ ansible_all_ipv4_addresses[0] }}:2305'

praefect['auth_token'] = '{{ praefect_external_token }}'

praefect['database_host'] = '{{ praefect_db_address }}'
praefect['database_port'] = {{ praefect_db_port }}
praefect['database_user'] = '{{ praefect_db_username }}'
praefect['database_password'] = '{{ praefect_db_password }}'
praefect['database_dbname'] = '{{ praefect_db_name }}'

praefect['postgres_queue_enabled'] = true
praefect['failover_enabled'] = true
praefect['failover_election_strategy'] = 'sql'

praefect['virtual_storages'] = {
  'default' => {
    {% for ip in gitaly_main_ips %}
    'gitaly-{{ loop.index - 1 }}' => {
        'address' => 'tcp://{{ ip }}:8075',
        'token' => '{{ praefect_internal_token }}',
        {% if loop.index == 1 %}'primary' => true,{% endif %}
    },
    {% endfor %}
  }
}

node_exporter['listen_address'] = '{{ ansible_all_ipv4_addresses[0] }}:9100'
praefect['prometheus_listen_addr'] = '{{ ansible_all_ipv4_addresses[0] }}:9652'

# Enable service discovery for Prometheus.
consul['enable'] = true
consul['monitoring_service_discovery'] = true
consul['configuration'] = {
  retry_join: %w({{ consul_hostnames | join(' ') }}),
}
