# This template is used for both the app_server and sidekiq instances
# since configuration is so similar.
#
# It is generally safe to define configs not applicable to the
# other since the service using that config is not running.

external_url '{{ cluster_url }}'

{% if role == 'app_server' %}
roles ['application_role']

# We've split sidekiq to its own auto scaling group.
sidekiq['enable'] = false
# Gitaly is on its own EC2 instances.
gitaly['enable'] = false
nginx['enable'] = true
registry['enable'] = true

{% elif role == 'sidekiq' %}
sidekiq['enable'] = true

registry['enable'] = false
gitlab_workhorse['enable'] = false
unicorn['enable'] = false
puma['enable'] = false
postgresql['enable'] = false
redis['enable'] = false
nginx['enable'] = false
prometheus['enable'] = false
alertmanager['enable'] = false
grafana['enable'] = false
gitaly['enable'] = false

{% else %}
{{ unknown_role | mandatory }}
{% endif %}

# We never use Let's Encrypt for automatic x509 certificates.
letsencrypt['enable'] = false

# TLS is terminated on the load balancer and proxied to us as
# plaintext. But an https:// external_url will only listen on
# :443 by default. Override and accept traffic on :80.
nginx['listen_port'] = 80
nginx['listen_https'] = false

gitlab_rails['auto_migrate'] = false

gitlab_rails['time_zone'] = 'UTC'

# TODO enable emails
gitlab_rails['gitlab_email_enabled'] = false

# gitlab_rails['gitlab_ssh_host'] = 'ssh.host_example.com'
# gitlab_rails['gitlab_ssh_user'] = ''

# TODO enable LDAP/Omniauth integration

gitlab_rails['gitaly_token'] = '{{ praefect_internal_token }}'

gitlab_rails["db_host"] = "{{ postgres_primary_address }}"
gitlab_rails["db_post"] = {{ postgres_primary_port }}
gitlab_rails["db_username"] = "{{ postgres_primary_username }}"
gitlab_rails["db_password"] = "{{ postgres_primary_password }}"
gitlab_rails["db_database"] = "{{ postgres_primary_db_name }}"

gitlab_rails['redis_host'] = '{{ redis_host }}'
gitlab_rails['redis_port'] = {{ redis_port }}

gitlab_rails['smtp_enable'] = false

git_data_dirs({
  'default' => {
    'gitaly_address' => 'tcp://{{ praefect_lb_address }}:2305',
    'gitaly_token' => '{{ praefect_external_token }}',
  },
})

gitlab_rails['artifacts_enabled'] = true
gitlab_rails['artifacts_object_store_enabled'] = true
gitlab_rails['artifacts_object_store_direct_upload'] = true
gitlab_rails['artifacts_object_store_remote_directory'] = '{{ artifacts_s3_bucket }}'
gitlab_rails['artifacts_object_store_connection'] = {
  'provider' => 'AWS',
  'region': '{{ artifacts_s3_bucket_region }}',
  'use_iam_profile' => true,
}

gitlab_rails['external_diffs_enabled'] = true
gitlab_rails['external_diffs_object_store_enabled'] = true
gitlab_rails['external_diffs_object_store_direct_upload'] = true
gitlab_rails['external_diffs_object_store_remote_directory'] = '{{ external_diffs_s3_bucket }}'
gitlab_rails['external_diffs_object_store_connection'] = {
  'provider' => 'AWS',
  'region' => '{{ external_diffs_s3_bucket_region }}',
  'use_iam_profile' => true,
}

gitlab_rails['lfs_enabled'] = true
gitlab_rails['lfs_object_store_enabled'] = true
gitlab_rails['lfs_object_store_direct_upload'] = true
gitlab_rails['lfs_object_store_remote_directory'] = '{{ lfs_s3_bucket }}'
gitlab_rails['lfs_object_store_connection'] = {
  'provider' => 'AWS',
  'region' => '{{ lfs_s3_bucket_region }}',
  'use_iam_profile' => true,
}

gitlab_rails['uploads_object_store_enabled'] = true
gitlab_rails['uploads_object_store_direct_upload'] = true
gitlab_rails['uploads_object_store_remote_directory'] = '{{ uploads_s3_bucket }}'
gitlab_rails['uploads_object_store_connection'] = {
  'provider' => 'AWS',
  'region' => '{{ uploads_s3_bucket_region }}',
  'use_iam_profile' => true,
}

gitlab_rails['registry_enabled'] = true
registry_external_url '{{ cluster_url }}:5050'
registry_nginx['listen_port'] = 5050
# TLS is terminated on the load balancer.
registry_nginx['listen_https'] = false
registry['storage'] = {
  's3' => {
    'bucket' => '{{ registry_s3_bucket }}',
    'region' => '{{ registry_s3_bucket_region }}',
  }
}

unicorn['listen'] = '{{ ansible_all_ipv4_addresses[0] }}'
sidekiq['listen_address'] = '{{ ansible_all_ipv4_addresses[0] }}'

sidekiq['concurrency'] = 25
sidekiq['memory_killer_max_rss'] = 0

{% if ldap_bind_dn | default(false) %}
gitlab_rails['ldap_enabled'] = true
gitlab_rails['prevent_ldap_sign_in'] = false
gitlab_rails['ldap_servers'] = {
  'main' => {
    'label' => 'LDAP',
    'host' => '{{ ldap_host }}',
    'port' => 636,
    'uid' => 'uid',
    'bind_dn' => '{{ ldap_bind_dn }}',
    'password' => '{{ ldap_bind_password }}',
    'encryption' => 'simple_tls',
    'verify_certificates' => false,
    'active_directory' => false,
    'allow_username_or_email_login' => true,
    'base' => '{{ ldap_base }}',
    'attributes' => {
      'username' => ['uid'],
      'email' => ['mail'],
    },
    'group_base' => '{{ ldap_group_base }}',
    'sync_ssh_keys' => 'sshPublicKey',
  }
}

gitlab_rails['omniauth_auto_link_ldap_user'] = true
{% endif %}

{% if github_app_id | default(false) %}
gitlab_rails['omniauth_providers'] = [
  {
    'name' => 'github',
    'app_id' => '{{ github_app_id }}',
    'app_secret' => '{{ github_app_secret }}',
    'url' => '{{ github_app_url }}',
    'args' => { 'scope' => 'user:email' },
  }
]

gitlab_rails['omniauth_allow_single_sign_on'] = ['github']
gitlab_rails['omniauth_block_auto_created_users'] = false
{% endif %}

node_exporter['listen_address'] = '{{ ansible_all_ipv4_addresses[0] }}:9100'
gitlab_workhorse['prometheus_listen_addr'] = '{{ ansible_all_ipv4_addresses[0] }}:9229'
gitlab_exporter['listen_address'] = '{{ ansible_all_ipv4_addresses[0] }}'

gitlab_rails['monitoring_whitelist'] = ['{{ monitor_ip }}']
nginx['status']['options']['allow'] = ['{{ monitor_ip }}']

# Enable service discovery for Prometheus.
consul['enable'] = true
consul['monitoring_service_discovery'] = true
consul['configuration'] = {
  retry_join: %w({{ consul_hostnames | join(' ') }}),
}
