monitoring_role['enable'] = true

gitlab_rails['auto_migrate'] = false

# By default Prometheus listens on localhost:9090. This isn't
# suitable for a cluster.
prometheus['listen_address'] = '{{ ansible_all_ipv4_addresses[0] }}:9090'
alertmanager['listen_address'] = '{{ ansible_all_ipv4_addresses[0] }}:9093'

# We also need to open up Grafana to external interfaces.
grafana['http_addr'] = '{{ ansible_all_ipv4_addresses[0] }}'
# Enable login.
grafana['disable_login_form'] = false
grafana['admin_password'] = '{{ grafana_admin_password }}'

node_exporter['listen_address'] = '{{ ansible_all_ipv4_addresses[0] }}:9100'

# We're not running within Kubernetes and don't need to configure
# these monitors by default.
prometheus['monitor_kubernetes'] = false

# Enable service discovery for Prometheus.
consul['enable'] = true
consul['monitoring_service_discovery'] = true
consul['configuration'] = {
  retry_join: %w({{ consul_hostnames | join(' ') }}),
}
