registry['enable'] = false
gitlab_workhorse['enable'] = false
unicorn['enable'] = false
puma['enable'] = false
postgresql['enable'] = false
redis['enable'] = false
nginx['enable'] = false
prometheus['enable'] = false
alertmanager['enable'] = false
grafana['enable'] = false
sidekiq['enable'] = false

# Ensure filesystem mount is present before starting services.
high_availability['mountpoint'] = ["/gitaly-data"]

gitlab_rails['auto_migrate'] = false
gitlab_rails['gitlab_ssh_host'] = '{{ cluster_hostname }}'
gitlab_rails['internal_api_url'] = '{{ cluster_url }}'

# Point Gitaly at our filesystem mount.
git_data_dirs({
  {% for i in range(gitaly_instance_count) %}
  'gitaly-{{ i }}' => {
    'path' => '/gitaly-data/git-data',
  },
  {% endfor %}
})

gitaly['listen_addr'] = "0.0.0.0:8075"
gitaly['auth_token'] = '{{ praefect_internal_token }}'

# Default workers is 2, which is not enough for us.
gitaly['ruby_num_workers'] = 16

gitaly['prometheus_listen_addr'] = "{{ ansible_all_ipv4_addresses[0] }}:9236"
node_exporter['listen_address'] = '{{ ansible_all_ipv4_addresses[0] }}:9100'

# Enable service discovery for Prometheus.
consul['enable'] = true
consul['monitoring_service_discovery'] = true
consul['configuration'] = {
  retry_join: %w({{ consul_hostnames | join(' ') }}),
}
